<script>
$(function(){
  // 画面表示時にダイアログが表示されないよう設定
  $("#mydialog_poop").dialog({ 
    autoOpen: false,
    modal: true,
    height: 400,
    width: 500,
    open        : function(event, ui){
        $('.ui-dialog-titlebar').removeClass('ui-widget-header');
        $(".ui-dialog-titlebar-close").hide();
    },
    buttons: [        // ボタン名 : 処理 を設定
      {
        text: 'ボタン1',
        click: function(){
          alert("ボタン1をクリックしました");
        }
      },
      {
        text: 'CANCEL',
        click: function(){
          // ダイアログを閉じる
          $(this).dialog("close");
        }
      }
    ]
  });
 
  // ボタンのクリックイベント
  $("#btn_action5").click(function(){
  // ダイアログを表示する
  $("#mydialog_poop").dialog("open");
  });
})
</script>

<div class="dialog" id="mydialog_poop">
  <%= form_with url: memories_path, local: true do |f| %>
    <div>
      <%= f.label :worked_at, "イベント時間" %>
      <%= f.datetime_field :worked_at, class: 'date-select' %>
    </div>
    <div>
      <%= f.label :amount_id, "うんちの量" %>
      <%= f.collection_select(:amount_id, Amount.all, :id, :name, {}, {class:"select-box", id:"amount"}) %>
    </div>
    <div>
      <%= f.label :hardness_id, "うんちの硬さ" %>
      <%= f.collection_select(:hardness_id, Hardness.all, :id, :name, {}, {class:"select-box", id:"hardness"}) %>
    </div>
    <div>
      <%= f.label :memo %>
      <%= f.text_field :memo %>
    </div>
    <div>
      <%= f.submit "OK" %>
    </div>
  <% end %>
</div>