<%= render "shared/header" %>

<script>
$(function(){
  $('input[type="date"]').change(function(){
    $("#top-date-select").submit();
  });
});
</script>

<div class="wrapper">
  <div class="side-bar">
    <div class="item">
      <%= link_to "ミルク", '#', class: "item-name" %>
    </div>
    <div class="item">
      <%= link_to "睡眠", '#', class: "item-name" %>
    </div>
    <div class="item">
      <%= link_to "排泄", '#', class: "item-name" %>
    </div>
    <div class="item">
      <%= link_to "体温", '#', class: "item-name" %>
    </div>
    <div class="item">
      <%= link_to "育児日記", '#', class: "item-name" %>
    </div>
  </div>

  <div class="main">
    <div class="main-area">
      <div class="main-top">
        <div class="form-date">
          <%= form_with url: memories_path, method: :get, id: 'top-date-select', local: true do |f| %>
            <div>
              <%= f.date_field :search, value: @check_day, class: 'top-date-select', name: 'top-date-select' %>
            </div>
          <% end %>
        </div>
        <div class="item-icon">
          <div class="icon">
            <%= render "milk" %>
            <%= image_tag 'baby_honyubin.png', alt: 'ミルク', id: "btn_action1", class: "icons" %>
            <p class="icon-tag">ミルク</p>
          </div>
          <div class="icon">
            <%= image_tag 'baby_boy11_sleep.png', id: "btn_action2", class: "icons" %>
            <p class="icon-tag">寝る</p>
          </div>
          <div class="icon">
            <%= image_tag 'baby_boy05_idea.png', id: "btn_action3", class: "icons" %>
            <p class="icon-tag">起きる</p>
          </div>
          <div class="icon">
            <%= render "pee" %>
            <%= image_tag 'water_character.png', id: "btn_action4", class: "icons" %>
            <p class="icon-tag">おしっこ</p>
          </div>
          <div class="icon">
            <%= render "poop" %>
            <%= image_tag 'unchi_character.png', id: "btn_action5", class: "icons" %>
            <p class="icon-tag">うんち</p>
          </div>
          <div class="icon">
            <%= render "temperature" %>
            <%= image_tag 'kaden_kisotaionkei.png', id: "btn_action6", class: "icons" %>
            <p class="icon-tag">体温</p>
          </div>
        </div>
      </div>
      <% if !@memories.empty? %>
        <div class="main-middle">
          <div class="main-middle-left">
            <%= render "small-task" %>
          </div>

          <div class="main-middle-center">
            <%= render "task" %>
          </div>

          <div class="main-middle-right">
            <div class="main-middle-right-top">
              <%= render "image" %>
            </div>
            <div class="main-middle-right-bottom">
              <%= render "comment" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="main-middle">
          <div class="list-empty">
            <p>表示できるイベント・写真はありません</p>
          </div>
        </div>
      <% end %>
    </div>

      <%= form_with model: MemoryComment.new, url: comments_path, class: 'comment-area', local: true do |f| %>
        <div class="comment-input">
          <%= f.datetime_field :worked_at, value: "#{@check_day}T#{Time.now.strftime("%H:%M:%S")}", type: "hidden" %>
          <%= f.text_field :comment, class: 'form-comment', placeholder: '育児日記' %>
          <label class="form-image">
            <span class="image-file">写真</span>
            <%= f.file_field :comment_image, class: 'hidden' %>
          </label>
        </div>
        <%= f.submit '保存', class: 'form-submit' %>
      <% end %>
  </div>
</div>