<%= render "shared/header" %>

<div class="wrapper">
  <div class="side-bar">
    <div class="item">
      <%= link_to "ミルク", '#', class: "item-name" %>
    </div>
    <div class="item">
      <%= link_to "睡眠", '#', class: "item-name" %>
    </div>
    <div class="item">
      <%= link_to "排泄", '#', class: "item-name" %>
    </div>
    <div class="item">
      <%= link_to "体温", '#', class: "item-name" %>
    </div>
    <div class="item">
      <%= link_to "育児日記", '#', class: "item-name" %>
    </div>
  </div>
<script>
$('button').click(function() {
  let id_name = $(this).attr('id');
  console.log(id_name)
});
$(function(){
  // 画面表示時にダイアログが表示されないよう設定
  $("#mydialog").dialog({ 
    autoOpen: false,
    modal: true,
    open:function(event, ui){ $(".ui-dialog-titlebar-close").hide();},
    buttons: [        // ボタン名 : 処理 を設定
      {
        text: 'ボタン1',
        click: function(){
          $(this).dialog("close");
        }
      },
      {
        text: 'キャンセル',
        click: function(){
          // ダイアログを閉じる
          $(this).dialog("close");
        }
      }
    ]
    });
 
  // ボタンのクリックイベント
  $("#btn_action").click(function(){
  // ダイアログを表示する
  $("#mydialog").dialog("open");
  });
})
</script>

  <div class="main">
    <div class="main-area">
      <div class="main-top">
        <div class="form-date">
          カレンダーフォーム実装予定
        </div>
        <div class="item-icon">
          <div class="icon">
            <%#= link_to "ミルク", '#', class: "icon-name" %>
            <button id="btn_action">ミルク</button>
            <div id="mydialog" title="サンプルタイトル">テスト</div>
          </div>
          <div class="icon">
            <%= link_to "寝る", '#', class: "icon-name" %>
          </div>
          <div class="icon">
            <%= link_to "起きる", '#', class: "icon-name" %>
          </div>
          <div class="icon">
            <%= link_to "おしっこ", '#', class: "icon-name" %>
          </div>
          <div class="icon">
            <%= link_to "うんち", '#', class: "icon-name" %>
          </div>
        </div>
      </div>
      <div class="main-middle">
        <div class="main-middle-left">
          イベント簡易表示
        </div>
        <div class="main-middle-center">
          イベント一覧
        </div>
        <div class="main-middle-right">
          投稿写真一覧
        </div>
      </div>
    </div>
    <div class="comment-area">
      <div class="comment-input">
        <input class="form-comment" placeholder= "育児日記">
        <label class="form-image">
          <span class="image-file">写真</span>
          <input type="file" class="hidden">
        </label>
      </div>
      <input class="form-submit" type="submit" value="完了">
    </div>
  </div>
</div>