<%= render "shared/header" %>

<script>
$(function(){
  $('input[type="date"]').change(function(){
    $("#top-date-select").submit();
  });
});
</script>

<script>
function inputIcon(){
  let image = $("input[name='png']").val();
  let hourId = '#' + $("input[name='hour-id']").val();
  $(hourId).append('<img class="small-event-icons" src="/assets/' + image + '">');
  $("#png").remove();
  $("#hour-id").remove();
};

</script>

<div class="wrapper">
  <div class="side-bar">
    <div class="item">
      <%= link_to "ミルク", '#', class: "item-name" %>
    </div>
    <div class="item">
      <%= link_to "睡眠", '#', class: "item-name" %>
    </div>
    <div class="item">
      <%= link_to "排泄", '#', class: "item-name" %>
    </div>
    <div class="item">
      <%= link_to "体温", '#', class: "item-name" %>
    </div>
    <div class="item">
      <%= link_to "育児日記", '#', class: "item-name" %>
    </div>
  </div>

  <div class="main">
    <div class="main-area">
      <div class="main-top">
        <div class="form-date">
          <%= form_with url: memories_path, method: :get, id: 'top-date-select', local: true do |f| %>
            <div>
              <%= f.date_field :search, value: @check_day, class: 'top-date-select', name: 'top-date-select' %>
            </div>
          <% end %>
        </div>
        <div class="item-icon">
          <div class="icon">
            <%= render "milk" %>
            <%= image_tag 'baby_honyubin.png', alt: 'ミルク', id: "btn_action1", class: "icons" %>
            <p class="icon-tag">ミルク</p>
          </div>
          <div class="icon">
            <%= image_tag 'baby_boy11_sleep.png', id: "btn_action2", class: "icons" %>
            <p class="icon-tag">寝る</p>
          </div>
          <div class="icon">
            <%= image_tag 'baby_boy05_idea.png', id: "btn_action3", class: "icons" %>
            <p class="icon-tag">起きる</p>
          </div>
          <div class="icon">
            <%= render "pee" %>
            <%= image_tag 'water_character.png', id: "btn_action4", class: "icons" %>
            <p class="icon-tag">おしっこ</p>
          </div>
          <div class="icon">
            <%= render "poop" %>
            <%= image_tag 'unchi_character.png', id: "btn_action5", class: "icons" %>
            <p class="icon-tag">うんち</p>
          </div>
          <div class="icon">
            <%= render "temperature" %>
            <%= image_tag 'kaden_kisotaionkei.png', id: "btn_action6", class: "icons" %>
            <p class="icon-tag">体温</p>
          </div>
        </div>
      </div>
      <% if !@memories.empty? %>
        <div class="main-middle">
          <div class="main-middle-left">
            <% 24.times do |hours| %>
              <div class="small-lists">
                <div class="small-hour">
                  <%= format("%02d", hours) %>
                </div>
                <div class="small-icons">
                  <div class="small-icon" id="<%=format("%02d", hours)%>">
                  </div>
                </div>
              </div>
            <% end %>
            <% @memories.each do |memory| %>
              <% if memory.milk.present? %>
                <% icon_choice = "baby_honyubin.png" %>
                <% task_name = "ミルク" %>
              <% elsif memory.pee.present? %>
                <% icon_choice = "water_character.png" %>
                <% task_name = "おしっこ" %>
              <% elsif memory.poop.present? %>
                <% icon_choice = "unchi_character.png" %>
                <% task_name = "うんち" %>
              <% elsif memory.temperature.present? %>
                <% icon_choice = "kaden_kisotaionkei.png" %>
                <% task_name = "体温" %>
              <% end %>
              <input value="<%=icon_choice%>" class="png" id="png" name="png" type="hidden">
              <input value="<%=memory.worked_at.strftime("%H")%>" class="hour-id" id="hour-id" name='hour-id' type="hidden">
              <script> inputIcon() </script>
            <% end %>
          </div>

          <div class="main-middle-center">
            <%= render "task" %>
          </div>

          <div class="main-middle-right">
            投稿写真一覧
          </div>
        </div>
      <% else %>
        <div class="main-middle">
          <div class="list-empty">
            <p>表示できるイベント・写真はありません</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="comment-area">
      <div class="comment-input">
        <input class="form-comment" placeholder= "育児日記">
        <label class="form-image">
          <span class="image-file">写真</span>
          <input type="file" class="hidden">
        </label>
      </div>
      <input class="form-submit" type="submit" value="完了">
    </div>
  </div>
</div>